* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  color: #4b636e
}



$primary-background: #E8E8E8;
$primary-font-color: #FFCFAD;

.primaryView {
  background: $primary-background;
  color: $primary-font-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.onTheRight {
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 10;
}

.onTheLeft {
  position: fixed;
  top: 0;
  right: 100vw;
  z-index: 10;
}

.slideRight {
  position: fixed;
  top: 0;
  animation: slideRight 0.6s ease-out forwards;
}

@keyframes slideRight {
  0% { right: 100vw }
  60% { right: 85vw }
  100% { right: 0 }
}

.slideLeft {
  position: fixed;
  top: 0;
  animation: slideLeft 0.6s ease-out forwards;
}

@keyframes slideLeft {
  0% { left: 100vw }
  60% { left: 85vw }
  100% { left: 0 }
}

input {
  position: relative;
  z-index: 10;
  border: none;
  padding: 2px;
  outline: none;
  background-color: #b2ebf2;
  &:focus {
    background-color: #4b636e;
    color: #b2ebf2;
    transition: 0.3s ease-out;
    &::placeholder {
      color: #b2ebf2;
    }
  }
}

.fullScreen {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  padding: 4%;
  &::before {
    content: '';
    display: block;
    position: fixed;
    width: 500px;
    height: 600px;
    background-color: #e6f5f5;
    top: -200px;
    left: -300px;
    transform: rotate(35deg);
  }
  &::after {
    content: '';
    display: block;
    position: fixed;
    width: 500px;
    height: 600px;
    background-color: #e6f5f5;
    bottom: -200px;
    right: -300px;
    transform: rotate(35deg);
  }
}

.primary_button {
  border: none;
  background-color: #81b9bf;
  padding: 6px;
  border-radius: 20px;
  font-size: 0.75rem;
  outline: none;
  &:active {
    background-color: #78909c;
    transition: background-color 0.13s ease-out;
  }
}

.changeMonthBtn {
  background-color: #81b9bf;
  border: none;
  font-size: 0.75rem;
  outline: none;
  padding: 3px;
  border-radius: 5px;
  &:active {
    background-color: #78909c;
    transition: background-color 0.13s ease-out;
  }
}

.back_button {
  background-color: #81b9bf;
  border: none;
  font-size: 0.75rem;
  outline: none;
  padding: 3px;
  border-radius: 5px;
  margin: 4px 0 4px 0;
  z-index: 10;
  &:active {
    background-color: #78909c;
    transition: background-color 0.13s ease-out;
  }
}

.add_res_button {
  background-color: #81b9bf;
  border: none;
  font-size: 0.75rem;
  outline: none;
  padding: 3px;
  border-radius: 5px;
  margin: 0 0 4px 0;
  &:active {
    background-color: #78909c;
    transition: background-color 0.13s ease-out;
  }
}

.restaurantView {
  p {
    z-index: 10;
  }
  div {
    z-index: 10;
  }
  section {
    z-index: 10;
  }
  button {
    z-index: 10;
  }
  input {
    margin: 3px 0 3px 0;
  }
}

.positioning_div {
  height: 45%;
}

.welcome_header {
  z-index: 10;
  margin-bottom: auto;
  margin-top: 20px;
  margin-left: 10px;
}