* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-background: linear-gradient(0deg, rgba(0,3,20,1) 0%, rgba(0,6,31,1) 100%);
$primary-font-color: #FFCFAD;

.primaryView {
  background: $primary-background;
  color: $primary-font-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  
}

.CreateAccount {
  
}

.fullScreen {
  width: 100vw;
  height: 100vh;
  transition: all 0.8s ease-out;
}

